<!-- <div>
  <h3> Create an Equipment</h3>
  <form #newequipmentForm="ngForm" (ngSubmit)="save(newequipmentForm)">
    <div>
      <label>Name:
        <input required minlength="2" placeholder="name" name="name" class="form-control" (ngModel)="equipment.name">
      </label>

      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.minlength">
          Name must be at least 2 characters long.
        </div>
      </div>

      <br />
      <label>Brand:
        <input placeholder="brand" name="brand" class="form-control" (ngModel)="equipment.brand">
      </label>
      <div *ngIf="brand.invalid && (brand.dirty || brand.touched)" class="alert alert-danger">
        <div *ngIf="brand.errors.minlength">
          brand must be at least 2 characters long.
        </div>
      </div>
      <br />

      <label>Model:
        <input placeholder="model" name="model" class="form-control" (ngModel)="equipment.model">
      </label>
      <div *ngIf="model.invalid && (model.dirty || model.touched)" class="alert alert-danger">
        <div *ngIf="model.errors.minlength">
          model must be at least 2 characters long.
        </div>
      </div>

      <br />
      <label>SerialNumber:
        <input placeholder="serialNumber" name="serialNumber" class="form-control" (ngModel)="equipment.serialNumber">
      </label>
      <div *ngIf="serialNumber.invalid && (serialNumber.dirty || serialNumber.touched)" class="alert alert-danger">
        <div *ngIf="serialNumber.errors.minlength">
          You must enter a 5 digit serialNumber.
        </div>
      </div>
      <br />
      <label>Price:
        <input placeholder="price" name="price" class="form-control" (ngModel)="equipment.price">
      </label>
      <br />

      <label>ImageUrl:
        <input placeholder="imageUrl" name="imageUrl" class="form-control" (ngModel)="equipment.imageUrl">
      </label>
      <br />
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!newequipmentForm.valid">save</button>
  </form>
</div> -->