body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}


nav {
  min-height: 150x;
  padding-top: 70px;
  background-color: #9a8585;
}

* {
  padding: 0;
  margin: 0;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: deepskyblue;
}

.logo {
  margin: 0 0 0 .45em;
}

.logo a {
  color: rgb(28, 24, 22);
}

.logo,
.navigation {
  list-style: none;
  text-transform: uppercase;
}

.logo a,
.navigation a {
  text-decoration: none;
  letter-spacing: .15rem;
}

.navigation {
  display: flex;
}

.navigation a {
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #00ace6;
}

/* *********** media queries *********** */
@media all and (max-width: 990px) {
  .flex-container {
    flex-direction: column;
  }

  .logo {
    margin: 0;
  }

  .navigation {
    width: 100%;
    justify-content: space-around;
  }
}


/* ****** ****** */
@media all and (max-width: 600px) {

  .logo {
    margin: .25em 0;
    align-self: left;
    /* align the logo to the left side of 'flex-container' */
  }

  .navigation {
    flex-direction: column;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar {
  /* position: relative; */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.nav ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center;
  justify-content: space-between;
}


dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

*,
::after,
::before {
  box-sizing: border-box;
}

ul {

  display: inline;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
