extends layouts/visitors_layout.pug
  
block content 
     .container
        .jumbotron
               h1.text-primary Welcome to AV Rental Application
               br
               h2.text-secondary In order to use this rental app you need to register!
               br
               br
               p.login
               a(href='/auth/login') Login  |
               a(href='/auth/register')  register



