extends layouts/visitors_layout.pug

block content
  .main.container
    .row
      .col-md-12.col-md-offset-3
        h1.display-4.m-b-2 Log In
        //- if message.error
        //-   div.alert.alert-danger Missing username or password

        //- else
        //-   if message.success
        //-     div.alert.alert-success You are now connected
        form(method='POST' action='/auth/login', encrypt ='application/x-www-form-urlencoded')
          div.form-group
            label(for='email') Email
            input.form-control(type='text' id='email' placeholder='email' name='email')
          div.form-group
            label(for='password') Password
            input.form-control(type='password' id='password' placeholder='password' name='password')
            br
            button.btn.btn-primary(type='submit') Login 
            br
            br
            p 
              a(href='/auth/register') Sign up  if you don't have a user email and password.



              //- value=user.username, autofocus)