body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  /* height: 100vh; */
  margin: 0;
}

.wrapper {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: flex-end;

}

.flex-header {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  align-self: center;

}
