<div class="container">
  <div class="col-lg-12">
    <h4>Equipment Rental</h4>
    <p>Supports special events and provides classroom technology support for all university locations. Coordinates
      videoconferences and rents portable equipment.students can borrow projection equipment, sound systems, and an HD
      video recorder with tripod free of charge (late fees apply for equipment not returned on time). Free equipment is
      available to Harvard students on a limited basis for use on campus</p>
  </div>
  <div class="col-lg-12">
    <h4>Address</h4>
    <p>1 Winthrop Street Medford Ma 02155.</p>
    <h4>Schedule</h4>
    <p>Hours: M-Th (8am - 10pm), F (8am - 5pm). (When classes are not in session M-F 8am - 5pm).</p>
  </div>
</div>
